* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
}
section {
    text-align: center;
}

.game--title, .game--status {
    font-size: 46px;
    background: linear-gradient(135deg, #a902b2 25%,#cc32ee 35%,#8a1ae4 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: title 4s linear infinite;
}

@keyframes title {
    0% {
        filter: brightness(0.7);
    }
    50% {
        filter: brightness(0.8);
    }
    100% {
        filter: brightness(0.7);
    }
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex; align-items: center;
    justify-content: center;
    background: linear-gradient(110deg, #a6329a, #bd2234, #b12bcc, #bd2234, #a6329a);
    background-size: 700% 700%;
    animation: bgc 30s linear infinite;
    overflow: hidden;
}

.tic-tac {
    z-index: 10;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 517px;
    margin: 50px auto;
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Permanent Marker", cursive;
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, #5d4c7f 45%,#4b2431 55%,#98008b 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 5px -5px 14px 4px #8804f1;
    border: 8px solid #cf14f5;
    border-radius: 10px;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
.game--restart {
    position: relative;
    margin-top: 40px;
    padding: 3px;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    border: none;
}
.game--restart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 450%;
    height: 100%;
    background-size: 42% 314%;
    background: linear-gradient(135deg, #d76ce2 0%,#bc1ab1 25%,#f79cfc 35%,#d622d3 64%);
    animation: borderGradient 1s linear infinite;
    translate: -5% 0%;
    animation-play-state: paused;
}
.game--restart:hover::before {
    animation-play-state: running;
}
.game--restart:active {
    transform: scale(0.96);
}

.game--restart span {
    position: relative;
    display: block;
    padding: 15px 30px;
    background-size: 61% 100%;
    background-image:  linear-gradient(359deg, #a6329a, #b12bcc);
    border-radius: 12px;
}

@keyframes borderGradient {
    0% {
        translate: 0% 0%;
    }
    100% {
        translate: -50% 0%;
    }
}

.win {
    background: linear-gradient(135deg, #5d4c7f 45%,#4b2431 55%,#98008b 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.close {
    content: '';
    position: absolute;
    top: 14vh;
    left: 33vh;
    width: 100px;
    height: 100px;
    background: url('close.svg');
}
.close svg {
    mix-blend-mode:overlay;
}
.close:nth-child(2) {
    top: 3vh;
    left: 9vh;
}
.close:nth-child(3) {
    top: 52vh;
    left: 37vh;
}
.close:nth-child(4) {
    top: 41vh;
    left: 13vh;
}
.close:nth-child(5) {
    top: 77vh;
    left: 16vh;
}
.close:nth-child(6) {
    top: 85vh;
    left: 43vh;
}
.close:nth-child(7) {
    top: 4vh;
    left: 54vh;
}

.circle {
    content: '';
    position: absolute;
    top: 14vh;
    left: 145vh;
    width: 65px;
    height: 65px;
    border: 10px solid #f0f0f0;
    border-radius: 50%;
    mix-blend-mode:overlay;
    opacity: 0.2;
}
.circle:nth-child(9) {
    top: 8vh;
    left: 117vh;
    
}
.circle:nth-child(10) {
    top: 65vh;
    left: 134vh;

}
.circle:nth-child(11) {
    top: 43vh;
    left: 157vh;
}
.circle:nth-child(12) {
    top: 82vh;
    left: 155vh;
}
.circle:nth-child(13) {
    top: 80vh;
    left: 110vh;
}
.circle:nth-child(14) {
    top: 37vh;
    left: 126vh;
}

.active-close {
    width: 100px;
    height: 100px;
    background: url('close.svg');
    border: none;
    border-radius: 0;
    opacity: 0.7;
}
.active-circle {
    background: none;
    width: 65px;
    height: 65px;
    border: 10px solid #f0f0f0;
    border-radius: 50%;
    mix-blend-mode:overlay;
    opacity: 0.7;

}

@keyframes bgc {
    0% {
        background-position: 0% 50%;
    }
    20% {
        background-position: 40% 50%;
    }
    35% {
        background-position: 65% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    65% {
        background-position: 65% 50%;
    }
    80% {
        background-position: 40% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}



